.filter {
  width: 100%;

  display: flex;
  gap: 20px;

  > .main {
    width: 80%;
  }

  > .second {
    width: 20%;
  }
}

td {
  mat-form-field {
    margin-bottom: -22px;
  }
}

.mat-sort-header-container {
  pointer-events: none;
}
