.form {
  &-content {
    display: flex;
    gap: 22px;

    font-size: 10px;

    .form-group {
      display: flex;
      flex-direction: column;
    }
  }
}

.role {
  &-h2 {
    margin-bottom: 0;
  }
  &-margin {
    margin: 0 10px;
  }
}

mat-form-field {
  font-size: 10px;
}
